# Colcon build directories
ws_colcon/build/
ws_colcon/install/
ws_colcon/log/

# ROS 2 specific
*.pyc
__pycache__/
*.egg-info/
.pytest_cache/

# IDE specific files
.vscode/
.idea/
*.swp
*~

# OS specific files
.DS_Store

venv/